files: 
  /etc/systemd/system/sidekiq.service:
    content: |
        [Unit]
        Description=sidekiq
        After=syslog.target network.target

        [Service]
        Type=simple
        User=root
        Group=root
        UMask=0002
        WorkingDirectory=/var/app/current/
        ExecStart=/bin/bash -cl "/opt/elasticbeanstalk/.rbenv/shims/bundle exec sidekiq -e production -P /tmp/sidekiq.pid -L /var/log/sidekiq.log -C /var/app/current/config/sidekiq.yml"
        ExecStop=/bin/bash -cl "/opt/elasticbeanstalk/.rbenv/shims/bundle exec sidekiqctl stop /tmp/sidekiq.pid"
        Environment=MALLOC_ARENA_MAX=2

        # Log
        StandardOutput=file:/var/app/current/log/sidekiq.log
        StandardError=file:/var/app/current/log/sidekiq.log

        # if we crash, restart
        RestartSec=1
        Restart=on-failure

        StandardOutput=syslog
        StandardError=syslog

        # This will default to "bundler" if we don't specify it
        SyslogIdentifier=sidekiq

        [Install]
        WantedBy=multi-user.target    
    group: root
    mode: "000644"
    owner: root

commands: 
  00_set_service_sidekiq: 
    command: |
        systemctl daemon-reload
        systemctl enable sidekiq        
  01_create_logs:
    command: |
        touch /var/log/sidekiq.log
        chmod 777 /var/log/sidekiq.log
    ignoreErrors: true
  02_get_environment:
    command: |
        /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
        echo "echo get-config environment executed" >> /etc/profile.d/sh.local
        chmod +x /etc/profile.d/sh.local
