option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180
files:
 "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.sidekiq.conf":
   mode: "000644"
   owner: root
   group: root
   content: |
     /var/log/sidekiq.log {
      su root root
      size 10M
      rotate 5
      missingok
      compress
      notifempty
      copytruncate
      dateext
      dateformat %s
      olddir /var/app/containerfiles/logs/rotated
     }
 "/etc/awslogs/config/customlogs.conf":
   mode: "000600"
   owner: root
   group: root
   content: |
     [/var/logs/sidekiq.log]
     log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/sidekiq.log"]]}`
     log_stream_name={instance_id}
     file=/var/log/sidekiq.log*
     file_fingerprint_lines=1-8

     [/var/app/current/log/production.log]
     log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/log/production.log"]]}`
     log_stream_name={instance_id}
     file=/var/app/current/log/production.log*
     file_fingerprint_lines=1-8
commands:
 "01":
   test: test ! -e /var/app/current/log/production.log
   command: |
    mkdir -p /var/app/current/log/
    touch /var/app/current/log/production.log
    chmod 777 var/app/current/log/production.log
 "02":
   command: systemctl enable awslogsd
 "03":
   command: systemctl restart awslogsd
